$orange-primary: #F58251;
$orange-light: lighten($orange-primary, 20);
$orange-dark: #291e19;

$pink-primary: #E665AA;
$pink-dark: #2E1D26;

$violet-primary: #A894EB;

$blue-primary: #68C3D4;

$green-primary: #89D468;

$yellow-primary: #DBC64B;

$neutral-bg: #2B2B2B;
$neutral-text: #e8e8e8;

$theme-grey: #D5D8DC;
$theme-grey-dark-1: #BABDC1;

$theme-blue: #22333B;
$theme-blue-light-1: #3C4D54;
$theme-blue-light-2: #56666C;
$theme-blue-light-3: #6F8085;
$theme-blue-light-5: #A3B3B6;
$theme-blue-light-8: #F0FFFF;

$theme-sand: #A9927D;

$theme-brown: #5E503F;