@import url('https://fonts.googleapis.com/css2?family=Abel&family=Alegreya+Sans&family=Asap&family=Asap+Condensed&family=Assistant&family=Barlow&family=Barlow+Condensed&family=Bungee&family=Cabin&family=Fira+Sans&family=Fira+Sans+Extra+Condensed&family=Francois+One&family=Jost&family=Lato&family=Open+Sans&family=Signika&family=Ubuntu&family=Ubuntu+Condensed&display=swap');
@import 'colors';

// Overrides
$font-family-sans-serif: 'Ubuntu', sans-serif;
$headings-font-family: 'Ubuntu Condensed', sans-serif;
//$headings-font-weight: 600;
$dark: $neutral-bg;

// Custom.scss
// Option B: Include parts of Bootstrap

// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Optional
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";